*{
  margin: auto;
  padding: 0;
}
body{
  font-family: 'slabo 27px', sans-serif;
  font-size: 14;
  background: url("img/sample-pattern.png");
}

/** Header **/
header{
  overflow-y: auto;
  position: fixed;
  background-color: #FFF;
  float: left;
  padding: 5px;
  z-index: 1000;
  width: 100%;
}

header img#logo{
  float: left;
}
header nav ul li{
  float: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 20px;
}

/** Section **/
section{
  position:static;
}
article{
  padding: 5px 10px;
}
